* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 67%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
  }